<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>✉ | Contato</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-100">
  <!-- Header (NAV) -->
  <header class="bg-white flex justify-center items-center border-b-gray-300">
    <div class="container h-18 max-h-full md:max-h-screen flex justify-between items-center">
      <a href="/" class="flex items-center p-3">
        <img src="https://www.mactools.pro/_next/image?url=https%3A%2F%2Fi.ibb.co%2FznYhJxL%2Flogo-no-writing.png&w=128&q=75" alt="Logo" class="h-14 w-14">
        <span class="text-black text-4xl font-semibold"></span>
      </a>
      <div class="flex flex-row sm:flex-row sm:gap-2.5 gap-1 justify-between px-4 py-3">    
        <a href="{% url 'home' %}" class="text-gray-600 text-sm">
          <button type="button" class="flex justify-center gap-1 items-center h-10 w-full sm:w-full font-bold font-raleway subpixel-antialiased tracking-tight bg-gray-200 border-l-4 border-gray-300 text-blue-gray-900 p-3 rounded-lg transition duration-300 ease-in-out hover:bg-gray-300 dark:hover:bg-gray-300 transform hover:scale-105">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-gray-600">
              <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
              <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
            </svg>
            Inicio
          </button>
        </a>
      </div>
    </div>
  </header>

  <main class="bg-gray-100/90">
    <div class="min-h-screen flex justify-center p-6 bg-gray-100">
      <form method="" enctype="multipart/form-data" action=" "
            class="min-h-screen w-full max-w-2xl bg-gray-100 p-6 space-y-3">
        {% csrf_token %}

      <div class="flex flex-col pb-4 gap-1 justify-center items-center">
        <div class="flex flex-row gap-1 justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-gray-600">
            <path d="M19.5 22.5a3 3 0 0 0 3-3v-8.174l-6.879 4.022 3.485 1.876a.75.75 0 1 1-.712 1.321l-5.683-3.06a1.5 1.5 0 0 0-1.422 0l-5.683 3.06a.75.75 0 0 1-.712-1.32l3.485-1.877L1.5 11.326V19.5a3 3 0 0 0 3 3h15Z" />
            <path d="M1.5 9.589v-.745a3 3 0 0 1 1.578-2.642l7.5-4.038a3 3 0 0 1 2.844 0l7.5 4.038A3 3 0 0 1 22.5 8.844v.745l-8.426 4.926-.652-.351a3 3 0 0 0-2.844 0l-.652.351L1.5 9.589Z" />
          </svg> 
          <h2 class="text-2xl font-bold text-gray-600 font-raleway subpixel-antialiased text-center">Contato</h2>
        </div>
        <p class="text-sm font-mediun text-gray-600 font-raleway subpixel-antialiased text-center" >Olá! Fale como podemos ajudar você.</p>
      </div>

        <!-- Outros campos do formulário -->
        <div>
          <p class=" font-raleway subpixel-antialiased text-sm pt-3 pb-1 text-gray-600">
            <strong>Dados Pessoais:</strong>
          </p>
          <input type="text" name="nome_denunciante" placeholder="Digitar nome"
          class="w-full p-3 rounded-lg bg-white/90 text-gray-900 font-raleway subpixel-antialiased placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500" />
        </div>

        <div>
          <input type="email" name="email" placeholder="Seu e-mail" required
                 class="w-full p-3 rounded-lg bg-white/90 text-gray-900 font-raleway subpixel-antialiased placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500" />
        </div>

        <div>
          <input type="text" name="telefone" id="telefone" placeholder="(xx) xxxxx-xxxx" required
                 class="w-full p-3 rounded-lg bg-white/90 text-gray-900 font-raleway subpixel-antialiased placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500" />
        </div>

        <div>
          <p class="text-sm font-raleway subpixel-antialiased pt-3 pb-1 text-gray-600">
            <strong>Sua Mensagem:</strong>
          </p>
          <textarea type="text" name="endereco" placeholder="Sua mensagem" required
                 class="h-30 w-full p-3 rounded-lg bg-white/90 text-gray-900 font-raleway subpixel-antialiased placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500"></textarea>
        </div>



        <p class="text-xs text-gray-900 text-center">
          🔒 Seus dados estão <strong>protegidos e garantida</strong> pela Lei do Marco Civil da Internet.
        </p>

        <div class="pt-3">
          <button type="submit" class="flex justify-center gap-1 items-center w-full sm:w-full font-bold font-raleway subpixel-antialiased tracking-tight bg-green-500 border-l-4 border-green-700 text-gray-100 p-3 rounded-lg transition duration-300 ease-in-out hover:bg-green-600 transform hover:scale-105">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-gray-100">
              <path fill-rule="evenodd" d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" clip-rule="evenodd" />
            </svg>
            Enviar mensagem
          </button>
        </div>
      </form>
    </div>
  </main>

   <!-- Footer -->
   <footer class="text-center w-full bg-white border-t-gray-200 py-4">
    <div class="flex flex-col items-center">
      <a href="/" >
        <img src="https://www.mactools.pro/_next/image?url=https%3A%2F%2Fi.ibb.co%2FznYhJxL%2Flogo-no-writing.png&w=128&q=75" alt="Logo" class="h-6 w-6">
      </a>
    <!-- End Col -->
      <div class="mt-2">
        <p class=" text-xs text-gray-500">Desenvolvido por <a class="text-xs text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium" href="#">Vision Tools BR</a></p>
        <p class="text-xs text-gray-500">
          © 2025 Developed.
        </p>
      </div>
    </div>
  </footer>

  <script>
    // Máscara simples para telefone
    document.addEventListener("DOMContentLoaded", () => {
      const telefoneInput = document.getElementById('telefone');

      telefoneInput.addEventListener('input', (e) => {
        let val = e.target.value.replace(/\D/g, '');
        if (val.length > 11) val = val.slice(0, 11);

        let formatted = '';
        if (val.length > 0) formatted += '(' + val.substring(0, 2);
        if (val.length >= 3) formatted += ') ' + val.substring(2, 7);
        if (val.length >= 8) formatted += '-' + val.substring(7, 11);
        e.target.value = formatted;
      });

      telefoneInput.addEventListener('keypress', (e) => {
        if (!/\d/.test(e.key)) e.preventDefault();
      });

      telefoneInput.addEventListener('keydown', (e) => {
        const val = e.target.value;
        if (e.key === 'Backspace' && (val.endsWith('-') || val.endsWith(') ') || val.endsWith('('))) {
          e.target.value = val.slice(0, -1);
        }
      });
</body>
</html>