<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Denúncias | Buraco da Prefeita</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body class="bg-gray-100">

  <!-- Header (NAV) -->
  <header class="bg-gray-900">
    <div class="container mx-auto max-w-screen-xl px-4 py-4 flex justify-between items-center">
      <a href="/" class="flex items-center space-x-3">
        <img src="https://flowbite.com/docs/images/logo.svg" alt="Logo" class="h-8">
        <span class="text-white text-2xl font-semibold">Buraco da Prefeita</span>
      </a>
      <div class="space-x-4">
        <a href="tel:5541251234" class="text-white text-sm hover:underline">Contato</a>
        <a href="{% url 'enviar_denuncia' %}" class="text-white font-bold hover:underline">Denunciar</a>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <main class="min-h-screen py-10">
    <div class="container mx-auto max-w-screen-xl px-4">

      <!-- Filtros e Estatísticas -->
      <section class="mb-6 bg-white rounded-lg p-6 shadow space-y-6">

        <!-- Estatísticas -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
          <div class="bg-gray-100 text-center rounded-lg shadow-md py-4">
            <div class="text-6xl text-slate-500 font-bold font-raleway subpixel-antialiased tracking-tight">10</div>
            <div class="font-raleway text-lg text-slate-400 font-bold font-raleway subpixel-antialiased tracking-tight">Denúncias</div>
          </div>
          <div class="bg-gray-100 text-center rounded-lg shadow-md py-4">
            <div class="text-6xl text-slate-500 font-bold font-raleway subpixel-antialiased tracking-tight">17</div>
            <div class="text-lg text-slate-400 font-bold font-raleway subpixel-antialiased tracking-tight">Resolvidos</div>
          </div>
        </div>
      </section>

      <!-- Filtros -->
      <section class="mb-6 bg-white rounded-lg p-6 shadow space-y-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
          <form method="GET" action="{% url 'home' %}" class="flex flex-col md:flex-row md:items-center gap-2 md:col-span-2">
            <div class="relative w-full">
              <select placeholder="Filtre sua cidade" name="cidade" id="cidade" class="py-4 px-6 w-full bg-gray-100 border-transparent rounded-lg shadow-md font-bold font-raleway subpixel-antialiased tracking-tight text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                <option value="">Todas as cidades</option>
                {% for cidade in cidades %}
                <option value="{{ cidade.nome }}" {% if cidade.nome == cidade_selecionada %}selected{% endif %}>
                  {{ cidade.get_nome_display }}
                </option>                
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-bold font-raleway subpixel-antialiased tracking-tight rounded-e-md border shadow-md border-transparent bg-gray-100 text-blue-gray-900 hover:bg-blue-200 focus:outline-hidden focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
              </svg>
              Buscar
            </button>          
          </form>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
            <label for="hs-checkbox-in-form" class="flex p-3 w-full bg-white border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 ">
              <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded-sm text-blue-600 focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="hs-checkbox-in-form">
              <span class="flex flex-row text-sm text-gray-500 ms-3 dark:text-neutral-400">Status: RESOLVIDO</span>
            </label>
          
            <label for="hs-checkbox-checked-in-form" class="flex p-3 w-full bg-white border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 ">
              <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded-sm text-blue-600 focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="hs-checkbox-checked-in-form" checked="">
              <span class="flex flex-row text-sm text-gray-500 ms-3 dark:text-neutral-400">Status: NÃO RESOLVIDO</span>
            </label>
          </div> 

        </div>
      </section>
      
      <section class="mb-6 px-4 space-y-6">
        {% if cidade_selecionada %}
          <div class="flex flex-row gap-1 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-700">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
            </svg>
            <p class="text-base sm:text-xl font-bold font-raleway subpixel-antialiased tracking-tight text-gray-700">Mostrando denúncias de: {{ cidade_selecionada }}</p>
          </div>
        {% else %}
        <div class="flex flex-row gap-1 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-700">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.242 5.992h12m-12 6.003H20.24m-12 5.999h12M4.117 7.495v-3.75H2.99m1.125 3.75H2.99m1.125 0H5.24m-1.92 2.577a1.125 1.125 0 1 1 1.591 1.59l-1.83 1.83h2.16M2.99 15.745h1.125a1.125 1.125 0 0 1 0 2.25H3.74m0-.002h.375a1.125 1.125 0 0 1 0 2.25H2.99" />
          </svg>
          <p class="text-base sm:text-xl font-bold font-raleway subpixel-antialiased tracking-tight text-gray-700">Todas as denuncias</p>
        </div>
        {% endif %}
      </section>

      <!-- Cards das Denúncias -->
      <section id="denuncias-container" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 sm:gap-6">    
          {% include "partials/_card_denuncia.html" with denuncia=denuncia %}
      </section>
      
      <!-- Loader invisível no fim da página -->
      <div id="loader" class="w-full text-center py-4">
        <p class="text-gray-400 text-sm">Carregando mais denúncias...</p>
      </div>
      
    </div>
  </main>

   <!-- Footer -->
  <footer class="bg-white border-t border-gray-200 py-6">
    <div class="container mx-auto max-w-screen-xl px-4 text-center text-sm text-gray-700">
      Sistema desenvolvido por: <a class="font-semibold text-blue-500" href="https://www.material-tailwind.com" target="_blank">Vision Tools BR</a>.
    </div>
  </footer>
  <!--modals-->

  <div id="modal-denuncia" class="fixed inset-0 z-50 p-4 hidden flex items-center justify-center  shadow-black-500/20 backdrop-blur-sm bg-black/30">
    <div class="relative w-full max-w-md bg-gray-100 backdrop-blur-md shadow-xl rounded-2xl border border-white/20 p-6">
      
      <!-- Botão de fechar -->
      <button onclick="fecharModal()" class="absolute bg-red-700 top-2 px-2 right-2 rounded-lg text-white font-bold text-lg hover:scale-110 transition-transform">
        ✕
      </button>
  
      <!-- Formulário -->
      <form id="form-denuncia">
        {% csrf_token %}
        <input type="hidden" name="denuncia_id" id="denuncia_id">
        
        <h2 class="text-gray-800 text-xl font-bold mb-4 text-center">Reportar sua Denúncia</h2>
        
        <div class="mb-3">
          <input type="text" name="nome" placeholder="Digitar nome" required
                 class="w-full p-2 rounded-lg bg-white text-black placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500">
        </div>
  
        <div class="mb-3">
          <input type="email" name="email" placeholder="Digitar E-mail" required
                 class="w-full p-2 rounded-lg bg-white text-black placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500">
        </div>
  
        <div class="mb-4">
          <input type="text" name="telefone" id="telefone" placeholder="(xx) xxxxx-xxxx" required
                 class="w-full p-2 rounded-lg bg-white text-black placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500">
        </div>

        <div class="mb-4">
          <label for="quer_doar" class="block text-sm font-medium text-gray-700 mb-1">
            Você deseja apoiar o site com uma doação?
          </label>
          <select name="quer_doar" id="quer_doar" required
                  class="w-full p-2 rounded-lg bg-white text-black focus:outline-none focus:ring-2 focus:ring-green-500">
            <option value="" disabled selected>Escolha uma opção</option>
            <option value="sim">Sim, quero apoiar</option>
            <option value="nao">Não, obrigado</option>
          </select>
        </div>
        
        <button type="submit"
                class="w-full cursor-pointer bg-green-700 hover:bg-green-600 text-white font-semibold border-l-4 border-green-500 text-white p-3 rounded-lg transition duration-300 ease-in-out hover:bg-green-800 dark:hover:bg-green-800 transform hover:scale-105">
          Enviar
        </button>
        <p class="text-xs py-4 text-blue-gray-900 text-center mb-4">
            🔒 Seus dados estão protegidos. Esta denúncia é <strong>anônima</strong> e garantida pela Lei do Marco Civil da Internet.
        </p>
      </form>
    </div>
  </div>

  <script>
    let page = 2;
    const loader = document.getElementById('loader');
    const container = document.getElementById('denuncias-container');
  
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].isIntersecting) {
        loadMore();
      }
    }, {
      rootMargin: '100px',
    });
  
    observer.observe(loader);
  
    function loadMore() {
      // Pega os parâmetros da URL atual (ex: cidade=MOSSORO)
      const currentParams = new URLSearchParams(window.location.search);
      currentParams.set("page", page);
  
      fetch(`{% url 'home' %}?${currentParams.toString()}`, {
        headers: { "X-Requested-With": "XMLHttpRequest" }
      })
      .then(res => res.json())
      .then(data => {
        if (data.html.trim()) {
          container.insertAdjacentHTML("beforeend", data.html);
          page++;
        } else {
          loader.innerHTML = "<p class='text-gray-400 text-sm'>Todas as denúncias foram carregadas.</p>";
          observer.disconnect();
        }
      });
    }
  </script>
  
    

  <!-- ScriptsModalDenunciar -->
    <script>
        function abrirModal(denunciaId) {
        document.getElementById('modal-denuncia').classList.remove('hidden');
        document.getElementById('denuncia_id').value = denunciaId;
        }
        
        function fecharModal() {
        document.getElementById('modal-denuncia').classList.add('hidden');
        }
        
        // Intercepta o submit do formulário do modal
        document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('form-denuncia');
        
        form.addEventListener('submit', function (e) {
            e.preventDefault(); // impede o envio tradicional do form
        
            const formData = new FormData(form);
            const denunciaId = formData.get('denuncia_id');
            const querDoar = formData.get('quer_doar');  // <-- capta valor do select
            
        
            fetch(`/denunciar_modal/${denunciaId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            },
            body: formData
            })
            .then(response => response.json())
            .then(data => {
            if (data.success) {
                fecharModal();
                location.reload(); // recarrega página para atualizar contagem
                if (querDoar === "sim") {
                  window.location.href = "/checkout/";  // <-- altere aqui se necessário
                }
            } else {
                console.error('Erro ao enviar:', data.errors);
                alert('Erro ao enviar a denúncia. Verifique os campos.');
            }
            })
            .catch(error => {
            console.error('Erro na requisição:', error);
            alert('Erro inesperado ao enviar a denúncia.');
            });
        });
        });
    </script>

    <!--ScriptsMascaraPhone N0013--> 
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const telefoneInput = document.getElementById('telefone');
        
          telefoneInput.addEventListener('input', function (e) {
            let value = e.target.value.replace(/\D/g, '');
        
            if (value.length > 11) value = value.slice(0, 11);
        
            let formatted = '';
            if (value.length > 0) {
              formatted += '(' + value.substring(0, 2);
            }
            if (value.length >= 3) {
              formatted += ') ' + value.substring(2, 7);
            }
            if (value.length >= 8) {
              formatted += '-' + value.substring(7, 11);
            }
        
            e.target.value = formatted;
          });
        
          // digitando letras N0014
          telefoneInput.addEventListener('keypress', function (e) {
            if (!/\d/.test(e.key)) {
              e.preventDefault();
            }
          });
        
          // problemas ao apagar N0015
          telefoneInput.addEventListener('keydown', function (e) {
            const key = e.key;
            if (key === 'Backspace') {
              const val = e.target.value;
              if (val.endsWith('-') || val.endsWith(') ') || val.endsWith('(')) {
                e.target.value = val.slice(0, -1);
              }
            }
          });
        });
    </script>

</body>
</html>

