<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Denúncias | Buraco</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body class="bg-gray-100/90">

  <!-- Header (NAV) -->
  <header class="bg-white flex justify-center items-center border-b-gray-300 ">
    <div class="container h-18 max-h-full md:max-h-screen flex justify-between items-center">
      <a href="/" class="flex items-center p-3">
        <img src="https://www.mactools.pro/_next/image?url=https%3A%2F%2Fi.ibb.co%2FznYhJxL%2Flogo-no-writing.png&w=128&q=75" alt="Logo" class="h-14 w-14">
        <span class="text-black text-4xl font-semibold"></span>
      </a>
      <div class="flex flex-row sm:flex-row sm:gap-2.5 gap-1 justify-between p-3">
        <a href="{% url 'contato' %}" class="text-gray-600 text-sm ">
          <button type="button" class="flex justify-center gap-1 items-center h-10 w-full sm:w-full font-bold font-raleway subpixel-antialiased tracking-tight bg-white-100 p-1 rounded-lg transition duration-300 ease-in-out hover:bg-white-100  transform hover:scale-105">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-gray-600">
              <path fill-rule="evenodd" d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 0 0 1.28.53l4.184-4.183a.39.39 0 0 1 .266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0 0 12 2.25ZM8.25 8.625a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Zm2.625 1.125a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" />
            </svg>            
            Contato
          </button>
        </a>      
        <a href="{% url 'enviar_denuncia' %}" class="text-gray-600 text-sm">
          <button type="button" class="flex justify-center gap-1 items-center h-10 w-full sm:w-auto font-bold font-raleway subpixel-antialiased tracking-tight bg-gray-200 border-l-4 border-gray-300 text-blue-gray-900 p-3 rounded-lg transition duration-300 ease-in-out hover:bg-gray-300 dark:hover:bg-gray-300 transform hover:scale-105">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-gray-600">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
            </svg>
            Denunciar
          </button>
        </a>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <main class="min-h-screen my-6 sm:mx-36">
    <div class="container mx-auto max-w-screen-xl px-4">

      <!-- Filtros e Estatísticas -->
      <section class="mb-6 h-full bg-white rounded-lg p-4 shadow space-y-6">

        <!-- Estatísticas -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
          <div class="bg-gray-100 sm:h-full text-center rounded-lg shadow-md ">
            <div class="text-4xl p-2 text-slate-500 font-bold font-raleway subpixel-antialiased tracking-tight">{{ total_denuncias }}
              <p class="text-base text-slate-400 font-bold font-raleway subpixel-antialiased tracking-tight">Denúncias</p>
            </div>
          </div>
          <div class="bg-gray-100 sm:h-full text-center rounded-lg shadow-md">
            <div class="text-4xl p-2 text-slate-500 font-bold font-raleway subpixel-antialiased tracking-tight">{{ denuncias_resolvidas }}
              <p class="text-base text-slate-400 font-bold font-raleway subpixel-antialiased tracking-tight">Resolvidos</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Filtros Cidade -->
      <section class="mb-6 h-full bg-white rounded-lg shadow space-y-6">
        <div class="p-4 sm:p-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 items-center">
          <form method="GET" action="{% url 'home' %}" class="h-auto flex flex-col md:flex-row md:items-center gap-2 md:col-span-2">
            <div class="relative w-full">             
              <select label="Filtre sua cidade" name="cidade" id="cidade" class="py-3 px-3 pe-16 block w-full text-gray-600 text-sm font-bold font-raleway bg-gray-100 border-gray-600 rounded-lg focus:border-teal-500 focus:ring-teal-500 disabled:opacity-50 disabled:pointer-events-none">
                <option class=" text-gray-600 text-sm font-bold font-raleway" value="">Todas as cidades</option>
                {% for cidade in cidades %}
                <option value="{{ cidade.nome }}" {% if cidade.nome == cidade_selecionada %}selected{% endif %}>
                  {{ cidade.get_nome_display }}
                </option>                
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="flex justify-center gap-1 items-center h-10 w-full sm:w-auto font-bold font-raleway subpixel-antialiased tracking-tight bg-green-500 border-l-4 border-green-700 text-white text-sm p-3 rounded-lg transition duration-300 ease-in-out hover:bg-green-600 transform hover:scale-105">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-white">
                <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
              </svg>
              Buscar
            </button>          
          </form>
          <!--Filtro Resolvidos-->
          <div class="h-auto flex flex-row items-center">
            <form method="get" id="filtroForm" >
              {% if cidade_selecionada %}
                <input type="hidden" name="cidade" value="{{ cidade_selecionada }}">
              {% endif %}
            
              <label for="filtroResolvido" class="flex p-3 gap-1.5 w-auto bg-gray-100 border-transparent rounded-lg font-bold font-raleway subpixel-antialiased tracking-tight text-sm">
                <input type="checkbox" name="resolvido" value="true"
                  {% if filtro_resolvido %}checked{% endif %}
                  class="shrink-0 mt-1 border-green-700 rounded-sm text-green-500"
                  id="filtroResolvido"
                  onchange="document.getElementById('filtroForm').submit();"
                >
                {% if filtro_resolvido %}
                  <span class="flex flex-row text-sm text-green-700">Resolvidas</span>
                {% else %}
                  <span class="flex flex-row text-sm text-gray-600">Ver resolvidas</span>
                {% endif %}
              </label>
            </form>
            <!--Filtro denuncias-->
          </div>  
        </div>
      </section>
      
      <!--Descrição filtro h1-->
      <section class="mb-6 px-4 space-y-6">
        {% if cidade_selecionada %}
          <div class="flex flex-row gap-1 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
            </svg>
            <p class="text-base sm:text-sm font-bold font-raleway subpixel-antialiased tracking-tight text-gray-600">Mostrar denuncias de: {{ cidade_selecionada }} ({{ total_denuncias }})</p>
          </div>
        {% else %}
        <div class="flex flex-row gap-1 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.242 5.992h12m-12 6.003H20.24m-12 5.999h12M4.117 7.495v-3.75H2.99m1.125 3.75H2.99m1.125 0H5.24m-1.92 2.577a1.125 1.125 0 1 1 1.591 1.59l-1.83 1.83h2.16M2.99 15.745h1.125a1.125 1.125 0 0 1 0 2.25H3.74m0-.002h.375a1.125 1.125 0 0 1 0 2.25H2.99" />
          </svg>
          <p class="text-base sm:text-sm font-bold font-raleway subpixel-antialiased tracking-tight text-gray-600">Todas as denuncias ({{ total_denuncias }})</p>
        </div>
        {% endif %}
      </section>

      <!-- Cards das Denúncias -->
      <section id="denuncias-container" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 sm:gap-6">    
          {% include "partials/_card_denuncia.html" with denuncia=denuncia %}
      </section>
      
      <!-- Loader invisível no fim da página -->
      <div id="loader" class="w-full text-center py-4">
        <p class="text-gray-400 flex flex-row justify-center items-center gap-1 text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-blue-500 animate-spin">
          <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z" clip-rule="evenodd" />
        </svg>
          Carregando mais denúncias...</p>
      </div>
      
    </div>
  </main>

<!-- Footer -->
  <footer class="text-center mt-auto w-full bg-white border-t-gray-200 py-6">
    <div>
      <a href="/" class="flex flex-row justify-center items-center">
        <img src="https://www.mactools.pro/_next/image?url=https%3A%2F%2Fi.ibb.co%2FznYhJxL%2Flogo-no-writing.png&w=128&q=75" alt="Logo" class="h-12 w-12">
        <span class="text-black text-4xl font-semibold"></span>
      </a>
    </div>
    <!-- End Col -->
    <div class="mt-3">
      <p class="text-gray-500">Desenvolvido por <a class="text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium" href="#">Vision Tools BR</a></p>
      <p class="text-gray-500">
        © 2025 Developed.
      </p>
    </div>
  </footer>
  
<!--modals Denuncia-->
  <div id="modal-denuncia" class="fixed inset-0 z-50 p-4 hidden flex items-center justify-center  shadow-black-500/20 backdrop-blur-sm bg-black/30">
    <div class="relative w-full max-w-md bg-gray-100 backdrop-blur-md shadow-xl rounded-2xl border border-white/20 p-6">
      
      <!-- Botão de fechar -->
      <button onclick="fecharModal()" class="absolute bg-red-700 top-2 px-2 right-2 rounded-lg text-white font-bold text-lg hover:scale-110 transition-transform">
        ✕
      </button>
  
      <!-- Formulário -->
      <form id="form-denuncia">
        {% csrf_token %}
        <input type="hidden" name="denuncia_id" id="denuncia_id">
        
        <h2 class="text-gray-600 text-xl font-bold font-raleway subpixel-antialiased tracking-tight mb-4 text-center">Reportar sua Denúncia</h2>
        
        <div class="mb-3">
          <input type="text" name="nome" placeholder="Digitar nome" required
                 class="w-full p-2 rounded-lg bg-white/90 text-gray-900 placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500">
        </div>
  
        <div class="mb-3">
          <input type="email" name="email" placeholder="Digitar E-mail" required
                 class="w-full p-2 rounded-lg bg-white/90 text-gray-900 placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500">
        </div>
  
        <div class="mb-4">
          <input type="text" name="telefone" id="telefone" placeholder="(xx) xxxxx-xxxx" required
                 class="w-full p-2 rounded-lg bg-white/90 text-gray-900 placeholder-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500">
        </div>

        <div class="mb-4">
          <label for="quer_doar" class="block text-sm font-medium text-gray-700 mb-1">
            Você deseja apoiar o site com uma doação?
          </label>
          <select name="quer_doar" id="quer_doar" required
                  class="w-full p-2 rounded-lg bg-white text-gray-900 focus:outline-none focus:ring-2 focus:ring-green-500">
            <option value="" disabled selected>Escolha uma opção</option>
            <option value="sim">Sim, quero apoiar</option>
            <option value="nao">Não, obrigado</option>
          </select>
        </div>
        
        <button type="submit" class="flex justify-center gap-1 items-center w-full sm:w-full font-bold font-raleway subpixel-antialiased tracking-tight bg-green-500 border-l-4 border-green-700 text-white p-3 rounded-lg transition duration-300 ease-in-out hover:bg-green-600 transform hover:scale-105">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-gray-100">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
          </svg>
          Enviar denuncia
        </button>
        <p class="text-xs py-4 text-blue-gray-900 text-center mb-4">
            🔒 Seus dados estão protegidos. Esta denúncia é <strong>anônima</strong> e garantida pela Lei do Marco Civil da Internet.
        </p>
      </form>
    </div>
  </div>

<!-- Modal de Compartilhamento -->
<div id="modalCompartilhar" class="fixed inset-0 z-50 p-4 hidden flex items-center justify-center shadow-black-500/20 backdrop-blur-sm bg-black/30">
  <div class="bg-gray-100 p-6 rounded-xl w-full max-w-md text-center shadow-lg relative">
    <h2 class="text-xl font-bold font-raleway subpixel-antialiased tracking-tight mb-4 text-gray-600 ">Compartilhar esta página</h2>

    <div class="flex justify-center gap-4 mb-4">
      <a id="linkWhatsApp" target="_blank" class="text-green-600 hover:scale-110 transition transform">
        <i class="fab fa-whatsapp fa-2x"></i>
      </a>
      <a id="linkFacebook" target="_blank" class="text-blue-600 hover:scale-110 transition transform">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <button onclick="copiarLink()" class="text-gray-700 hover:scale-110 transition transform">
        <i class="fas fa-link fa-2x"></i>
      </button>
    </div>

    <div class="flex flex-row justify-center">
      <button onclick="fecharModalCompartilhar()" class="flex flex-row justify-between mt-4 px-4 py-2 font-bold font-raleway subpixel-antialiased tracking-tight bg-gray-200 border-l-4 border-gray-300 text-gray-600 p-3 rounded-lg transition duration-300 ease-in-out hover:bg-gray-300 dark:hover:bg-gray-300 transform hover:scale-105">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-gray-600">
          <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>      
        Fechar
      </button>
    </div>
  </div>
</div>

<!--Script N0001-->
  <script>
    let page = 2;
    const loader = document.getElementById('loader');
    const container = document.getElementById('denuncias-container');

    const observer = new IntersectionObserver((entries) => {
      if (entries[0].isIntersecting) {
        loadMore();
      }
    }, {
      rootMargin: '100px',
    });

    observer.observe(loader);

    function iniciarSlider() {
      document.querySelectorAll('.anuncio-slider').forEach(slider => {
        const slides = slider.querySelectorAll('.slide');
        let currentSlide = 0;

        // Evita duplicar timers N0003
        if (slider.dataset.active) return;
        slider.dataset.active = true;

        setInterval(() => {
          slides[currentSlide].style.opacity = 0;
          currentSlide = (currentSlide + 1) % slides.length;
          slides[currentSlide].style.opacity = 1;
        }, 4000);
      });
    }

    function loadMore() {
      const currentParams = new URLSearchParams(window.location.search);
      currentParams.set("page", page);

      fetch(`{% url 'home' %}?${currentParams.toString()}`, {
        headers: { "X-Requested-With": "XMLHttpRequest" }
      })
      .then(res => res.json())
      .then(data => {
        if (data.html.trim()) {
          container.insertAdjacentHTML("beforeend", data.html);
          page++;

          // Inicializa slider dos novos cards N0002
          iniciarSlider();
        } else {
          loader.innerHTML = "<p class='text-gray-400 text-sm'>Todas as denúncias foram carregadas.</p>";
          observer.disconnect();
        }
      });
    }

    // Inicia sliders já presentes no primeiro carregamento N0001
    document.addEventListener("DOMContentLoaded", () => {
      iniciarSlider();
    });
  </script>
  
    

  <!-- Scripts Modal Denunciar -->
    <script>
        function abrirModal(denunciaId) {
        document.getElementById('modal-denuncia').classList.remove('hidden');
        document.getElementById('denuncia_id').value = denunciaId;
        }
        
        function fecharModal() {
        document.getElementById('modal-denuncia').classList.add('hidden');
        }
        
        // Intercepta o submit do formulário do modal
        document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('form-denuncia');
        
        form.addEventListener('submit', function (e) {
            e.preventDefault(); // impede o envio tradicional do form
        
            const formData = new FormData(form);
            const denunciaId = formData.get('denuncia_id');
            const querDoar = formData.get('quer_doar');  // <-- capta valor do select
            
        
            fetch(`/denunciar_modal/${denunciaId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            },
            body: formData
            })
            .then(response => response.json())
            .then(data => {
            if (data.success) {
                fecharModal();
                location.reload(); // recarrega página para atualizar contagem
                if (querDoar === "sim") {
                  window.location.href = "/checkout/";  // <-- altere aqui se necessário
                }
            } else {
                console.error('Erro ao enviar:', data.errors);
                alert('Erro ao enviar a denúncia. Verifique os campos.');
            }
            })
            .catch(error => {
            console.error('Erro na requisição:', error);
            alert('Erro inesperado ao enviar a denúncia.');
            });
        });
        });
    </script>

  <!--Scripts Mascara Phone N0013--> 
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const telefoneInput = document.getElementById('telefone');
        
          telefoneInput.addEventListener('input', function (e) {
            let value = e.target.value.replace(/\D/g, '');
        
            if (value.length > 11) value = value.slice(0, 11);
        
            let formatted = '';
            if (value.length > 0) {
              formatted += '(' + value.substring(0, 2);
            }
            if (value.length >= 3) {
              formatted += ') ' + value.substring(2, 7);
            }
            if (value.length >= 8) {
              formatted += '-' + value.substring(7, 11);
            }
        
            e.target.value = formatted;
          });
        
          // digitando letras N0014
          telefoneInput.addEventListener('keypress', function (e) {
            if (!/\d/.test(e.key)) {
              e.preventDefault();
            }
          });
        
          // problemas ao apagar N0015
          telefoneInput.addEventListener('keydown', function (e) {
            const key = e.key;
            if (key === 'Backspace') {
              const val = e.target.value;
              if (val.endsWith('-') || val.endsWith(') ') || val.endsWith('(')) {
                e.target.value = val.slice(0, -1);
              }
            }
          });
        });
    </script>

    <!--Script Modal Share N0022-->
    <script>
      function abrirModalCompartilhar() {
        const url = window.location.href;
        document.getElementById('linkWhatsApp').href = `https://api.whatsapp.com/send?text=${encodeURIComponent(url)}`;
        document.getElementById('linkFacebook').href = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(url)}`;
        document.getElementById('modalCompartilhar').classList.remove('hidden');
      }
    
      function fecharModalCompartilhar() {
        document.getElementById('modalCompartilhar').classList.add('hidden');
      }
    
      function copiarLink() {
        navigator.clipboard.writeText(window.location.href).then(() => {
          alert("Link copiado para a área de transferência!");
        });
      }
    </script>
    
    <!--Script Carrosel AdS N0014-->
    <script>
      function iniciarSlidesAnuncios() {
        document.querySelectorAll('.anuncio-slide').forEach(slide => {
          let current = 0;
          const anuncios = slide.querySelectorAll('.anuncio-item');
          anuncios.forEach((el, i) => {
            el.style.display = i === 0 ? 'block' : 'none';
          });
    
          setInterval(() => {
            anuncios[current].style.display = 'none';
            current = (current + 1) % anuncios.length;
            anuncios[current].style.display = 'block';
          }, 4000);
        });
      }
    
      // Executa na primeira carga
      document.addEventListener('DOMContentLoaded', iniciarSlidesAnuncios);
    </script>
        
</body>
</html>
